<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{body}}</p>
  <p>Created by {{user.name}} on {{formatDate dateCreated}}</p>
  <p>
    <button class="btn btn-md">Leave a comment</button>
  </p>
</div>
