<section class="section">
	<div class="card mb-5">
		<div class="card-content">
			<header class="card-header mb-5">
				<p class="card-header-title has-text-white is-size-4">Your Blog Posts:</a></p>
			</header>

			{{#each blogPosts as |blogPost|}}
			<div class="card mb-5">
				<div class="card-content">
					<div class="columns">
						<div class="column is-four-fifths">
							<div class="is-size-4"><a class="has-text-black" href="/blogPost/{{blogPost.id}}">{{blogPost.title}}</a></div>
						</div>
						<div class="column">
							<button class="button is-primary updateButton" data-id="{{blogPost.id}}">UPDATE</button>
						</div>
						<div class="column">
							<button class="button is-danger deleteButton" data-id="{{blogPost.id}}">DELETE</button>
						</div>
					</div>
				</div>
			</div>
			{{/each}}

			<footer class="card-footer remove-border-line">
				<button class="button is-dark createButton">Create new blog post</button>
			</footer>
		</div>
	</div>
</section>
<script src="/js/dashboard.js"></script>