<section class="section">
 	<div class="columns">
		<div class="column">
			<div class="card">
				<header class="card-header mb-5">
					<p class="card-header-title has-text-white is-size-4">Sign In</p>
				</header>
				<div class="field ml-3 mr-3">
					<label class="label">Email</label>
					<div class="control has-icons-left">
						<input class="input" type="email" id="email-signin" placeholder="Email">
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
					</div>
				</div>

				<div class="field ml-3 mr-3">
					<label class="label">Password</label>
					<p class="control has-icons-left">
						<input class="input" type="password" id="password-signin" placeholder="Password">
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</p>
				</div>

				<footer class="card-footer remove-border-line">
					<button class="button is-dark m-3" id="sign-in-button">Sign In</button>
				</footer>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<header class="card-header mb-5">
					<p class="card-header-title has-text-white is-size-4">Sign Up</p>
				</header>

				<div class="field ml-3 mr-3">
					<label class="label">Name</label>
					<div class="control has-icons-left">
						<input class="input" type="text" id="name-signup" placeholder="Name">
						<span class="icon is-small is-left">
							<i class="fas fa-user"></i>
						</span>
					</div>
				</div>

				<div class="field ml-3 mr-3">
					<label class="label">Email</label>
					<div class="control has-icons-left">
						<input class="input" type="email" id="email-signup" placeholder="Email">
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
					</div>
				</div>

				<div class="field ml-3 mr-3">
					<label class="label">Password</label>
					<p class="control has-icons-left">
						<input class="input" type="password" id="password-signup" placeholder="Password">
						<span class="icon is-small is-left">
							<i class="fas fa-lock"></i>
						</span>
					</p>
				</div>

				<footer class="card-footer remove-border-line">
					<button class="button is-dark m-3" id="sign-up-button">Sign Up</button>
				</footer>
			</div>
		</div>
	</div>
</section>
<script src="/js/login.js"></script>
